<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
        <title>HomePage
        </title>

</head>

<body>
    <%- include('./partials/nav') %>

        <div class="container mt-4">
            <div class="row">
                <% blogs.forEach(blog => { %>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow-sm">
                            <img src="<%= blog.coverImage %>" class="card-img-top" alt="Blog Cover Image">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= blog.title %>
                                </h5>
                                <a href="/blog/<%= blog.id %>" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>

        <%- include('./partials/script') %>
</body>


</html>